{% extends "base.html" %}
<title>{% block title %}Change Password{% endblock %}</title>

{% block content %}
<div class="login-page">
  <div class="wrapper">
    <div class="title"><span>Change Password</span></div>
    <form action="{{ url_for('change_password') }}" method="POST">
      <input type="hidden" name="csrf_token" value="{{ form.csrf_token._value() }}" />

      <!-- Old Password Field -->
      <div class="row">
        <i class="fas fa-user"></i>
        <input type="password" name="current_password" placeholder="Old Password" required />
        {% if 'current_password_error' in messages %}
          <div class="error-message">{{ messages['current_password_error'] }}</div>
        {% endif %}
      </div>

      <!-- New Password Field -->
      <div class="row">
        <i class="fas fa-lock"></i>
        <input type="password" name="new_password" placeholder="New Password" required />
        {% if 'new_password_error' in messages %}
          <div class="error-message">{{ messages['new_password_error'] }}</div>
        {% endif %}
      </div>

      <!-- Confirm New Password Field -->
      <div class="row">
        <i class="fas fa-lock"></i>
        <input type="password" name="confirm_password" placeholder="Confirm New Password" required />
        {% if 'confirm_password_error' in messages %}
          <div class="error-message">{{ messages['confirm_password_error'] }}</div>
        {% endif %}
      </div>

      <!-- Submit Button -->
      <div class="row button">
        <input type="submit" value="Change Password" />
      </div>
    </form>
  </div>
</div> 
{% endblock %}
